bnav a:hover{
  background-color: grey;
  color: black;
}

nav a:active{
  background-color: grey;
  color:black;
}

nav a{
  text-decoration:none;
  margin:15px;
}

body{
  background-image:url("https://t3.ftcdn.net/jpg/04/43/09/76/360_F_443097603_5VwpWjLMJxGzJ4GQDSePOBuKwE7wODs2.jpg");
  background-repeat:no-repeat;
  background-size:cover;
}

h1, a, p {
  color:white;
}

nav{
text-align:right;
}

h1{
text-align:center;
}

h1:first-letter{
font-size:1em;
}

p:first-letter{
font-size:1.5em;
}

*{
color:white;
}

a[target]{
color: #c4d9ff;
}

img{
padding:10px;
}

p, li {
font-size:18px;
}

img {  
max-width: auto;  
height: 300px;  
}  
